<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="si.solarb.flowlayout.example"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-sdk
		android:targetSdkVersion="17"
		android:minSdkVersion="8" />

    <application
			android:label="@string/app_name"
			android:icon="@drawable/ic_launcher"
			android:theme="@android:style/Theme.Holo">

		<activity android:name="FlowLayoutActivity"
				android:label="@string/app_name">

            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

		</activity>

		<activity android:name=".BasicActivity"
				android:label="@string/activity_basic" />

		<activity
			android:name=".AllInOneActivity"
			android:label="@string/activity_all_in_one" />

    </application>

</manifest>
